/* color */
$color-white: #ffffff;
$color-black-01: #000000;
$color-black-02: #333333;
$color-black-03: #222222;
$color-black-04: #444444;
$color-black-05: #666666;
$color-black-06: #777777;
$color-blue-01: #3fd6f5;
$color-blue-02: #62e4ff;
$color-blue-03: #d2e1e6;
$color-blue-04: #1877f2;
$color-blue-05: #708f98;
$color-red-01: #fc5555;
$color-yellow-01: #fee500;
$color-green-01: #2f5e6c;
$color-green-02: #03c75a;
