.navigationArea {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  &.open {
    .navigation {
      left: 0;
    }
  }
  &.close {
    .dim {
      display: none;
    }
    .navigation {
      left: -400px;
    }
  }
  .navigation {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 320px 0;
    width: 400px;
    z-index: 2;
    overflow-y: auto;
    background-color: $color-black-02;
    transition: all 0.6s;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 640px;
    .mainLink {
      width: 100%;
      li {
        margin-top: 64px;
        cursor: pointer;
        &:first-child {
          margin-top: 0;
          span {
            color: $color-white;
          }
        }
        &:hover,
        &.active {
          span {
            position: relative;
            text-shadow: 0px 0px 8px $color-blue-01;
            &:before {
              content: '';
              position: absolute;
              bottom: -24px;
              left: 50%;
              transform: translateX(-50%);
              width: 191px;
              height: 24px;
              background: url('../../images/ico/ico_navigation_before.png') no-repeat bottom right;
              animation: leftRightMotion 1s linear infinite;
            }
          }
        }
        span {
          display: block;
          font-family: 'SEBANG Gothic';
          font-weight: 700;
          font-size: 24px;
          line-height: 1.6;
          color: $color-white;
          cursor: pointer;
          &.mobile {
            display: none;
          }
        }
      }
    }
    .bottomNavigation {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 120px;
      h3 {
        font-family: 'SEBANG Gothic';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        color: $color-white;
      }
      .snsMenu {
        margin-top: 16px;
        overflow: hidden;
        font-size: 0;
        li {
          display: inline-block;
          margin-right: 12px;
        }
      }
    }
    .closeButton {
      position: absolute;
      top: 26px;
      right: 26px;
      z-index: 1;
    }
  }
  .dim {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
