@font-face {
  font-family: 'Jalpullineunoneul';
  font-style: normal;
  font-weight: 500;
  src: url('../../font/Jalpullineunoneul_Medium.ttf') format('truetype'), url('../../font/Jalpullineunoneul_Medium.woff2') format('woff2'),
    url('../../font/Jalpullineunoneul_Medium.woff') format('woff'), url('../../font/Jalpullineunoneul_Medium.otf') format('otf');
}
@font-face {
  font-family: 'PyeongChang';
  font-style: normal;
  font-weight: 700;
  src: url('../../font/PyeongChang-Bold.ttf') format('truetype'), url('../../font/PyeongChang-Bold.woff2') format('woff2'),
    url('../../font/PyeongChang-Bold.woff') format('woff'), url('../../font/PyeongChang-Bold.otf') format('otf');
}
@font-face {
  font-family: 'PyeongChang';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/PyeongChang-Regular.ttf') format('truetype'), url('../../font/PyeongChang-Regular.woff2') format('woff2'),
    url('../../font/PyeongChang-Regular.woff') format('woff'), url('../../font/PyeongChang-Regular.otf') format('otf');
}
@font-face {
  font-family: 'SEBANG Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../../font/SEBANGGothic-Bold.ttf') format('truetype'), url('../../font/SEBANGGothic-Bold.woff2') format('woff2'),
    url('../../font/SEBANGGothic-Bold.woff') format('woff'), url('../../font/SEBANGGothic-Bold.otf') format('otf');
}
@font-face {
  font-family: 'SEBANG Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/SEBANGGothic.ttf') format('truetype'), url('../../font/SEBANGGothic.woff2') format('woff2'),
    url('../../font/SEBANGGothic.woff') format('woff'), url('../../font/SEBANGGothic.otf') format('otf');
}
@font-face {
  font-family: 'TimesNewerRoman';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/TimesNewerRoman-Regular.ttf') format('truetype'), url('../../font/TimesNewerRoman-Regular.woff2') format('woff2'),
    url('../../font/TimesNewerRoman-Regular.woff') format('woff'), url('../../font/TimesNewerRoman-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../../font/NotoSansKR-Black.ttf') format('truetype'), url('../../font/NotoSansKR-Black.woff2') format('woff2'),
    url('../../font/NotoSansKR-Black.woff') format('woff'), url('../../font/NotoSansKR-Black.otf') format('otf');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../../font/NotoSansKR-Bold.ttf') format('truetype'), url('../../font/NotoSansKR-Bold.woff2') format('woff2'),
    url('../../font/NotoSansKR-Bold.woff') format('woff'), url('../../font/NotoSansKR-Bold.otf') format('otf');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../../font/NotoSansKR-Medium.ttf') format('truetype'), url('../../font/NotoSansKR-Medium.woff2') format('woff2'),
    url('../../font/NotoSansKR-Medium.woff') format('woff'), url('../../font/NotoSansKR-Medium.otf') format('otf');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/NotoSansKR-Regular.ttf') format('truetype'), url('../../font/NotoSansKR-Regular.woff2') format('woff2'),
    url('../../font/NotoSansKR-Regular.woff') format('woff'), url('../../font/NotoSansKR-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../../font/NotoSansKR-Light.ttf') format('truetype'), url('../../font/NotoSansKR-Light.woff2') format('woff2'),
    url('../../font/NotoSansKR-Light.woff') format('woff'), url('../../font/NotoSansKR-Light.otf') format('otf');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('../../font/NotoSansKR-Thin.ttf') format('truetype'), url('../../font/NotoSansKR-Thin.woff2') format('woff2'),
    url('../../font/NotoSansKR-Thin.woff') format('woff'), url('../../font/NotoSansKR-Thin.otf') format('otf');
}
